### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [392]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [393]:
player_count = len(purchase_data["SN"].unique())

players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [394]:
unique_items_count = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
purchase_total = purchase_data["Price"].sum()
num_of_purchases = len(purchase_data)
summary_table = pd.DataFrame({
    "Average Price": [average_price],
    "Number of Unique Items": [unique_items_count],
    "Number of Purchases": [num_of_purchases],
    "Total Revenue": [purchase_total]
    
})

summary_table["Average Price"] = summary_table["Average Price"].astype(float).map(
    "${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
summary_table

  Average Price  Number of Unique Items  Number of Purchases Total Revenue
0         $3.05                     183                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [395]:
#purchase_data.apply(pd.Series.value_counts)





gender_unique_list = purchase_data["SN"].value_counts()
gender_count_df = purchase_data.groupby(['Gender'])
print(gender_count_df)

gender_mf_table = gender_count_df["SN"].unique()

           # Find how many rows fall into each bin
gender_total_table = pd.DataFrame({"P Count": gender_mf_table})
MFTotals = gender_total_table["P Count"].apply(lambda x: len(x))


#gender_number = gender_total_table["Purchase Count"]
gender_total_table["Total Count"] = MFTotals
gender_total_table["Percentage of Players"] = MFTotals / [num_of_purchases]
gender_total_table["Percentage of Players"] = gender_total_table["Percentage of Players"].map("{:,.2%}".format)
gender_total_table[["Total Count", "Percentage of Players"]]
#total_gen_count = gender_total_table["Total MF"].apply(lambda x: len(x))


#.astype(float).map("${:.0%}".format) 
    #grouped_df.count().head(10)
      #gender_table = grouped_df["Price"].sum()
     #gender_table
     #average_table = grouped_df["Price"].mean()
      #average_table
#gender_total_table = pd.DataFrame({"Total Count": gender_unique_list})
#gender_total_table   




#unique_purchasers = purchase_data["SN"].unique()
#unique_purchasers
##unique_purchasers_df = pd.DataFrame({"Unique Purchaser": [unique_purchasers]})
##unique_purchasers_df.head(10)
#unique_purchasers_df = pd.DataFrame([unique_purchasers])
#unique_purchasers_df
##unique_purchasers_column = unique_purchasers.groupby
##unique_purchasers_column
#raw_data_info = {
  #  "name_ID": [unique_purchasers]   
#}


#raw_list = raw_data_info["name_ID"].value_counts()
#grouped_raw_df = raw_list.groupby(['name_ID'])
#print(grouped_raw_df)

#info_pd = pd.DataFrame(raw_data_info, columns=["name_ID"])
#info_pd.head(10)



#raw_data_info = {
   # "customer_id": [112, 403, 999, 543, 123],
    #"name": ["John", "Kelly", "Sam", "April", "Bobbo"],
    #"email": ["jman@gmail", "kelly@aol.com", "sports@school.edu", "April@yahoo.com", "HeyImBobbo@msn.com"]
#}
#info_pd = pd.DataFrame(raw_data_info, columns=["customer_id", "name", "email"])
#info_pd

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000177D8914D68>

                       Total Count Percentage of Players
Gender
Female                          81                10.38%
Male                           484                62.05%
Other / Non-Disclosed           11                 1.41%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [396]:
male_purchasers = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_purchasers = purchase_data.loc[purchase_data["Gender"] == "Female", :]
not_male = purchase_data.loc[purchase_data["Gender"] != "Male", :]
neither_gender = not_male.loc[purchase_data["Gender"] != "Female", :]

male_count = len(male_purchasers)
female_count = len(female_purchasers)
other_count = num_of_purchases - male_count - female_count
male_average = male_purchasers["Price"].mean()
female_average = female_purchasers["Price"].mean()
neither_count = len(neither_gender)
average_male_price = male_purchasers["Price"].mean()
average_female_price = female_purchasers["Price"].mean()
average_neither_price = neither_gender["Price"].mean()
male_total = male_purchasers["Price"].sum()
female_total = female_purchasers["Price"].sum()
neither_total = neither_gender["Price"].sum()
#gender_summary_table = pd.DataFrame({
   #"Gender": ["Male"], ["Female"], ["Other / Non-Disclosed"],
   # "Purchase Count": [male_count], [female_count], [other_count],
   # "Average Purchase Price": [average_male_price], [average_female_price], [average_neither_price],
    #"Total Purchase Value": [male_total], [female_total], [neither_total]
   # })
gender_list = purchase_data["Gender"].value_counts()
grouped_df = purchase_data.groupby(['Gender'])
print(grouped_df)
#grouped_df.count().head(10)
gender_table = grouped_df["Price"].sum()
#gender_table
average_table = grouped_df["Price"].mean()
#average_table
gender_summary_table = pd.DataFrame({"Purchase Count": gender_list,
                                     "Average Purchase Price": average_table.astype(float).map(
    "${:,.2f}".format),
                                     "Total Purchase Value": gender_table.astype(float).map(
    "${:,.2f}".format)
                                    
                                    })
gender_summary_table.head()



#gender_summary_table = pd.DataFrame({"Number of Sightings": state_counts,
         #                           "Total Visit Time": state_duration})

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000177D5457F98>

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [397]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#age_data = purchase_data[["SN", "Age", "Price"]].head()
#age_data

pd.cut(purchase_data["Age"], age_bins, labels=group_names).head()

# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()
#purchase_data["Percentage of Players"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

#purchase_data.head()

# Create a GroupBy object based upon "View Group"
age_group = purchase_data.groupby("Age Group")




# Find how many rows fall into each bin
print(age_group["Age"].count())

purchase_count_table = age_group["Age"].count()
age_small_table = pd.DataFrame({"Purchase Count": purchase_count_table})


#age_small_table
age_small_table["Percentage of Players"] = purchase_count_table / [num_of_purchases]
age_small_table["Percentage of Players"] = age_small_table["Percentage of Players"].map("{:,.2%}".format)
age_small_table

#age_group_table = pd.DataFrame({"Total Count": age_group})
#age_group_table.head()


#age_total = (age_group["age"].count())

#percentage = age_total / 780

# Get the average of each column within the GroupBy object
#age_group[["age", "duration", "languages"]].mean()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

           Purchase Count Percentage of Players
Age Group
<10                    23                 2.95%
10-14                  28                 3.59%
15-19                 136                17.44%
20-24                 365                46.79%
25-29                 101                12.95%
30-34                  73                 9.36%
35-39                  41                 5.26%
40+                    13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [398]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#age_data = purchase_data[["SN", "Age", "Price"]].head()
#age_data

pd.cut(purchase_data["Age"], age_bins, labels=group_names).head()

# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

age_group = purchase_data.groupby("Age Group")

# Find how many rows fall into each bin
print(age_group["Age"].count())
purchase_count_table = age_group["Age"].count()
age_group_table = age_group["Price"].mean()
total_purchase_table = age_group["Price"].sum()

age_summary_table = pd.DataFrame({"Purchase Count": purchase_count_table,
                                     "Average Purchase Price": age_group_table.astype(float).map(
    "${:,.2f}".format),
                                  "Total Purchase Value": total_purchase_table.astype(float).map(
    "${:,.2f}".format)
                                  })
                                #  "Average Purchase Total Per Person": total_purchase_table.astype(float).map(
   # "${:,.2f}".format)
                                     
                                    
                                    
age_summary_table

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

           Purchase Count Average Purchase Price Total Purchase Value
Age Group
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05            $1,114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [399]:
#spender_list = purchase_data["SN"].value_counts()
spender_df = purchase_data.groupby(['SN'])
print(spender_df)
spender_df.count().head(10)
purchase_data["SN"].value_counts()

buyer_value_table = spender_df["Price"].sum()
#gender_table
buyer_average_table = spender_df["Price"].mean()
#average_table

###indiv_count = spender_df["SN"].value_counts()

#indiv_count = spender_df.count()

per_buyer_table = pd.DataFrame({"Purchase Count": spender_list,
                                     "Average Purchase Price": buyer_average_table.astype(float).map(
    "${:,.2f}".format),
                                     "Total Purchase Value": buyer_value_table
                                    
                                    })
per_buyer_table.head()



buyer_table_sorted = per_buyer_table.sort_values("Total Purchase Value")

buyer_table_sorted = buyer_table_sorted.reset_index(drop=True)

buyer_table_sorted = per_buyer_table.sort_values("Total Purchase Value", ascending=False)

buyer_table_sorted.head()



#spender_counts = purchase_data["SN"].value_counts()
#spender_counts.head()

#spender_counts_df = pd.DataFrame({"SN": spender_counts})

#spender_counts_df
#merge_table = pd.merge(, items_pd, on="customer_id")
#merge_table

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000177D8976F98>

             Purchase Count Average Purchase Price  Total Purchase Value
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [403]:
refined_data = purchase_data[["Item ID", "Item Name", "Price"]]
#refined_data.head()
#items_group = refined_data.groupby(["Item Name"])
#print(items_group)
#items_group.count()
#refined_data.dtypes


#..................................
item_list = refined_data["Item Name"].value_counts()
grouped_Item_df = refined_data.groupby(["Item Name"])
print(grouped_Item_df)
#grouped_Item_df.count().head(10)
#.....................................
purchase_added_table = grouped_Item_df["Price"].sum()


#--------------------
              #grouped_Item_df = refined_data.groupby(['Item Name'])
           #print(grouped_df)
            #grouped_df.count().head(10)
             #purchase_added_table = grouped_Item_df["Price"].sum()
            
item_price_table = grouped_Item_df["Price"].mean()
              
popular_summary_table = pd.DataFrame({"Purchase Count": item_list,
                                    "Item Price": item_price_table.astype(float).map(
    "${:,.2f}".format),
                                     
                                     "Total Purchase Value": purchase_added_table
                                    
                                })
purchase_sorted = popular_summary_table.sort_values("Purchase Count", ascending=False)
purchase_sorted
#-------------------------

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000177D59A3CC0>

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,$4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
Persuasion,9,$3.22,28.99
Nirvana,9,$4.90,44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
Fiery Glass Crusader,9,$4.58,41.22
"Pursuit, Cudgel of Necromancy",8,$1.02,8.16
Brutality Ivory Warmace,8,$2.42,19.36
Singed Scalpel,8,$4.35,34.80
"Shadow Strike, Glory of Ending Hope",8,$3.16,25.28
Retribution Axe,8,$2.22,17.76
"Lightning, Etcher of the King",8,$4.23,33.84
Winter's Bite,8,$3.77,30.16
Wolf,8,$3.54,28.32
Exiled Doomblade,7,$1.63,11.41
Suspension,7,$1.44,10.08
Demise,7,$1.61,11.27
"Oathbreaker, Spellblade of Trials",7,$3.08,21.56
"Heartstriker, Legacy of the Light",7,$1.79,12.53
Malificent Bag,7,$1.75,12.25
"Thorn, Satchel of Dark Souls",7,$1.33,9.31
Vengeance Cleaver,7,$2.05,14.35
"Glimmer, Ender of the Moon",7,$4.40,30.80
Blood Infused Guardian,6,$1.94,11.64
Dawne,6,$1.02,6.12
Agatha,6,$3.08,18.48
"Wolf, Promise of the Moonwalker",6,$4.48,26.88
Amnesia,6,$2.18,13.08
Apocalyptic Battlescythe,6,$1.97,11.82
Ghastly Adamantite Protector,6,$3.58,21.48
...,...,...,...
Curved Axe,2,$1.16,2.32
Stormfury Longsword,2,$4.93,9.86
Foul Titanium Battle Axe,2,$2.92,5.84
"Darkheart, Butcher of the Champion",2,$2.45,4.90
Possessed Core,2,$2.61,5.22
"Rage, Legacy of the Lone Victor",2,$2.48,4.96
"Winterthorn, Defender of Shifting Worlds",2,$2.08,4.16
Whistling Mithril Warblade,2,$1.00,2.00
Spectral Diamond Doomblade,2,$2.04,4.08
Relentless Iron Skewer,2,$2.84,5.68
"Sun Strike, Jaws of Twisted Visions",2,$1.48,2.96
"Heartseeker, Reaver of Souls",2,$3.92,7.84
Foul Edge,2,$3.54,7.08
"Flux, Destroyer of Due Diligence",2,$1.06,2.12
Trickster,2,$1.55,3.10
"Frenzy, Defender of the Harvest",2,$1.98,3.96
Rusty Skull,2,$3.70,7.40
"Torchlight, Bond of Storms",2,$4.65,9.30
Stormfury Mace,2,$4.99,9.98
Unholy Wand,2,$1.12,2.24
Exiled Mithril Longsword,1,$2.00,2.00
Undead Crusader,1,$4.50,4.50
Endbringer,1,$4.66,4.66
"Alpha, Reach of Ending Hope",1,$3.58,3.58
Celeste,1,$4.17,4.17
"Riddle, Tribute of Ended Dreams",1,$3.30,3.30
Betrayer,1,$2.94,2.94
The Decapitator,1,$1.75,1.75
Gladiator's Glaive,1,$1.93,1.93
"Ghost Reaver, Longsword of Magic",1,$2.17,2.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [401]:


popular_sorted = popular_summary_table.sort_values("Total Purchase Value", ascending=False)
popular_sorted.head()

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,$4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
Nirvana,9,$4.90,44.10
Fiery Glass Crusader,9,$4.58,41.22
Singed Scalpel,8,$4.35,34.80